@import "variables.scss";
@import "mixins.scss";

.question{
	padding: 12px 25px 0 25px;
	border-bottom: 1px solid #ddd;
	.questions{
		padding-bottom: 12px;
		border-bottom: 1px dashed #ddd;
		.num-img{
			span{
				display: inline-block;
			}
			.imgs{
				height: 30px;
				width: 30px;
				line-height: 30px;
				border-radius: 50%;
				font-size: 15px;
				text-align: center;
				color: #fff;
				background-color: #3a5fd2;
			}
			.num{
				color: #7e96e0;
			}
		}
		.ask{
			margin-top: 10px;
			line-height: 20px;
			p{
				margin-top: 7px;
				line-height: 16px;
				color: #7b7b7b;
			}
		}
		.text{
			display: inline-block;
			margin-top: 10px;
			padding: 3px  14px;
			line-height: 20px;
			border-radius: 10px;
			color: #ee9844;
			border: 1px solid #ee9844;
		}
	}
	.second{
		span{
			line-height: 38px;
			color: #7b7b7b;
			i{
				font-size: 14px;
				margin-right: 2px;
			}
		}
		.spa1{
			margin-left: 12px;
		}
		.spa2{
			margin-left: 25px;
		}
	}
}
.answer{
	padding: 12px 25px 0 25px;
	.num-img{
		span{
			display: inline-block;
			vertical-align: top;

		}
		.imgs{
			height: 30px;
			width: 30px;
			line-height: 30px;
			border-radius: 50%;
			overflow: hidden;
			img{
				width: 100%;
			}
		}
		.name{
			font-size: 15px;
			margin-left: 10px;
			margin-top: 5px;
		}
		.heart{
			padding: 5px 8px;
			font-size: 13px;
			border-radius: 2px;
			color: #fff;
			background-color: #ef4630;

		}
	}
	p{
		margin-top: 7px;
		padding-bottom: 13px;
		line-height: 20px;
		color: #7b7b7b;
		border-bottom: 1px dashed #ddd;
		a{
			color: #ee9844;
		}
	}
	.second{
		span{
			line-height: 38px;
			color: #7b7b7b;
			i{
				font-size: 14px;
				margin-right: 2px;
			}
		}
		.spa1{
			margin-left: 12px;
		}
		.spa2{
			margin-left: 25px;
		}
	}
}