@import "variables.scss";
@import "mixins.scss";


.point-xsq{
	.side{
		width: 25%;
		background: #f7f7f7;
		li{
			line-height: 45px;
			border-top: 1px solid #ddd;
			text-align: center;
		}
	}
	.all-card{
		width: 75%;
		height: 100px;
		.cont{
			width: 95%;
			margin: 0 auto;
			ul{
				margin:7px auto;
				margin-left: 12px;
				overflow: hidden;
			}
			li{
				line-height: 30px;
				width: 31%;
				float: left;
				margin-right: 5px;
				background: #f7f7f7;
				text-align: center;
				&:nth-child(1){
					background: orange;
				}
			}
			.person{
				border: 1px solid #ddd;
				padding-top: 5px;
				padding-left:10px;
				.head{
					height: 60px;
					width: 60px;
					img{
						width: 100%;
						border-radius: 50%;
					}
				}
				.mess{
					margin-left: 15px;
					font-size: 14px;
				}
				.year{
					line-height: 30px;
				}
				.long{
					margin-bottom: 7px;
					padding: 5px 0;
					.oran{
						color: #ea7e15;
						padding: 5px 5px;
						border: 1px solid #ea7e15;
					}
				}
			}
			.help{
				padding: 5px 4px 5px 12px;
				margin-bottom: 10px;
				border-bottom: 1px solid #ddd;
				border-left: 1px solid #ddd;
				border-right: 1px solid #ddd;
				span{
					line-height: 30px;
				}
				p{
					line-height: 30px;
					width: 90px;
					border-radius: 5px;
					text-align: center;
					background: #ea7e15;
					a{
						color: $white;
					}
				}
			}
			
		}	
	}
}
